body {
    background-image: url('img/giphy.gif');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    min-height: 100vh;
    position: relative;
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: wheat;
}


#circle {
    background: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 40px;
    margin-bottom: 0px;
    
    box-shadow: -3px 5px black;

}

#ig{
    font-size: 14px;
}

#iconogmail{
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-bottom: 0px;
    
}


.icono{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 0px;
    align-items: center;
}

#aboutme {
    /*padding-left: 100px;
    padding-right: 100px;*/
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 70%;
    text-align: center;
    margin: auto;
}

#lista{
    padding-inline-start: 10px;
    align-items: center;
}

.botones{
    border-top: solid 3px black;
    padding: 5px;
    width: 160px;
    background-color: beige;
    color: black;
    text-decoration: none;
    box-shadow: -3px 5px black;
    text-align: center;
}

#copy{
    font-size: 10px;
}

hr{
    max-width: 90%;
    margin: 0 auto;

}

footer{
    position:absolute;
    width: 100%;
    bottom: 0;
    border-top: solid 2px wheat;
    margin-right: 0px;
    
}

#prox{
    margin-top: 200px;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}