body { 
    background-color: #202124;
    font-family: arial,sans-serif;
    height: 100vh;
    margin: 0px;
    
}

header{
    display: flex;
    justify-content: end;
    height:60px;
    padding: 0px 15px;
}

header .UserMenu{
    display: flex;
    gap: 20px;
    align-items: center;
    
}

header .UserMenu a{
    text-decoration: none;
    color: white;
    font-size: 13px/27px;
    font-family: Arial, sans-serif;
}

header .UserMenu a svg{
    height: 32px;
    width: 32px;
    color:rgba(255,255,255,0.87);
    display: inline-block;
    fill: currentColor;
}

header .UserMenu a img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 60px - 90px);
    align-items: center;
    width: 100%;
    
}

main .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}



main .container .searcher .lupa{
    height: 30px;
    width: 30px;
    fill: #9aa0a6;
}
main .container .searcher{
    display: flex;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 44px;
    width: 584px;
    align-items: center;
    border: 1px solid #5f6368;
    border-radius: 40px;
    background-color: #202124;
}

main .container .searcher:hover{
    background-color: #303134;
    border: none;

}

main .container .searcher input{
    width: 100%;
    border: none;
    background-color:transparent;
    outline: none;
    color: #e8eaed;
}

main .container .searcher .micro{
    height: 30px;
    width: 30px;
    background-image: url(img/micro.svg);
    background-position: center;
    
    
}

main .container .searcher .cam{
    height: 30px;
    width: 30px;
    background-image: url(img/cam.svg);
    background-size: cover;
    background-position: center;
}

main .container .searcher button{
    background-color: transparent;
    border:none;

}

main .container .searcher-buttons{
    gap: 8px;
    display: flex;

}
main .container .searcher-buttons button{
    /*border: none;
    background-color: #303134;
    padding: 0 16px;
    color:  #e8eaed;
    border-radius: 4px;*/
    

    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

main .container p{
    color: rgba(255,255,255,0.87);
    font-size: small;
} 

footer {
    display: flex;
    flex-direction: column;
    height:90px;
    width: 100%;
    background-color: #171717;
}

footer section{
    display: flex;
    align-items: center;
    height: 50%;
    color: #999da2;
    padding: 15px 30px;
}

footer section.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #3c4043;
}

footer section.info div{
    display: flex;
    gap: 20px;
}

footer section.info div a{
    color: #999da2;
    text-decoration: none;
}
