body { 
    background-color: #202124;
    font-family: arial,sans-serif;
    height: 100vh;
}

header {
    display: flex;
    justify-content: end;
    height:60px;
    padding: 0px 15px;
}

header .UserMenu{
    display: flex;
    gap: 20px;
    align-items: center;
    
}

header .UserMenu a{
    text-decoration: none;
    color: white;
    font-size: 13px/27px;
    font-family: Arial, sans-serif;
}

header .UserMenu a svg{
    height: 32px;
    width: 32px;
    color:rgba(255,255,255,0.87);
    display: inline-block;
    fill: currentColor;
}

header .UserMenu a img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 60px);
    align-items: center;
}

main .container{
    display: flex;
    flex-direction: column;
    align-items: center;

}


